/*
###  smartphones Grid 
.col-ph
###  Tablets grid
.col-tb
###  Desktop grid
.col-dt
###  large screen grid
-col-ls
*/
body {
    background:white;
    margin: 0;
    padding:0;
    font-family:'Open Sans','droid Sans',arial, helvetica, sans-serif;
}
    body.height100 {
        overflow:hidden;
    }

/*farben - hintergrund*/
/*ivmblue*/

.ivmblue0 {
background: #7f96c1!important;
}
.ivmblue20 {
background: #5479ad!important;
}
.ivmblue40 {
background: #295898!important;
}
/*[…]*/
